div.map__map_and_selector {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map__autosizer.container {
    height: 78vh;
    width: 70vw;
}

.health_areas__autosizer {
    width: 20vw;
    height: 78vh;
}

.map__autosizer.container div.overlays {
    border-radius: 5px;
}
