div.footer__main_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: space-around;
    background-color: #fbb430;
    font-size: 14px;
    font-weight: 500;
}

.footer__main_container .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 201px;
    min-width: 188px;
    margin: 10px 0px;
}

.footer__main_container .container .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__main_container .container .link a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    padding: 0px 10px;
}

.footer__main_container .link:hover {
    border-radius: 5px;
    box-shadow:  0 0 0 2px #ffd27d;
}

.footer__linkedin.container {
    width: 145px;
    min-width: 138px;
    margin-right: 30px;
}

.footer__readme.container {
    width: 179px;
    min-width: 168px;
}

.footer__main_container .text {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}

@media screen and (max-width: 600px) {
    div.footer__main_container {
        flex-direction: column;
        height: 20vh;
        justify-content: center;
        align-items: center;
    }
}
