body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family:  'Rubik', "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif
}

html {
    width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ul, ol
{
list-style: none;
}

body {
    padding-bottom: 70px;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

div.button {
    display: flex;
    justify-content: space-around;
    margin: 0px 10px;
    padding: 4px 2px;
}

button, .button {
    padding: 5px 12px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
}

.header {
    font-family: 'Proza Libre', sans-serif;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    lightgray;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    lightgray;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    lightgray;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    lightgray;
}
input::-ms-input-placeholder { /* Microsoft Edge */
   color:    lightgray;
}

input::placeholder { /* Most modern browsers support this now. */
   color:    lightgray;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
