div.signup_form__container,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}


.signup_form__header {
    display: flex;
    justify-content: center;
    width: 310px;
    border-bottom: 1px solid #e89313;
    margin-bottom: 3vh;
    font-weight: 700;
    font-size: 30px;
    color: #e89313;
}

.signup_form__field {
    display: flex;
    align-items: center;
}

.signup_form__field.field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 6px 0px;
}

.signup_form__field .title {
    font-weight: 400;
    font-family: 'Proza Libre', sans-serif;
    font-size: 16px;
}

.signup_form__field input {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px 4px 14px 8px;
    height: 23px;
    font-size: 16px;
    border-radius: 5px;
    width: 250px;
}

.signup_form__field > .signup_form__input.select {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    width: 250px;
}

.signup_form__submit.button > button {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup_form__submit.button > button:enabled {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
    display: block;
    color: #fbb430;
    margin: 15px 0;
    border: 2px solid #fbb430;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.signup_form__submit.button > button:enabled::before {
    background: #fbb430;
    content: "";
    position: absolute;
	color: #000 !important;
    top: 49%;
    bottom: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.signup_form__submit.button > button:enabled::before {
    width: 110%;
    height: 0%;
}

.signup_form__submit.button > button:hover:enabled {
    color: white;
    transition: all 0.6s ease;
}

.signup_form__submit.button > button:hover:enabled::before {
    height: 110%;
}
