.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color: #63a9ae;
}

.navbar__container > .navbar__logo > i {
    color: #83C2C1;
    width: 70px;
    height: 35px;
    margin-left: 40px;
}

.navbar__search {
    outline: none;
    width: 500px;
    min-width: 200px;
    margin-left: 10%;
    margin-right: 1px;
}


.css-2b097c-container, input:focus{
    outline: none;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
}

.navbar__link,
.navbar__link > a {
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0px 5px;
    min-width: 80px;
    padding: 2px 1px
}

.navbar__link:hover {
    border-radius: 5px;
    box-shadow:  0 0 0 2px #83c2c1;
}

.navbar__link.on,
.navbar__link:focus {
    border-radius: 5px;
    box-shadow:  0 0 0 2px #83c2c1;
}

.rc-dropdown {
    width: 70px;
}

.navbar__logout {
    height: 15px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 790px) {
    .navbar__container > .navbar__logo > i {
        display: none;
    }
    .navbar__search {
        margin-left: 20px;
    }
    .navbar__link,
    .navbar__link > a {
        margin: 0px;
        min-width: 50px;
        padding: 2px 1px;
        text-align: center;
    }
}
