div.projects_modal__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projects_modal__header {
    display: flex;
    justify-content: center;
    width: 340px;
    /* border-bottom: 1px solid #e89313; */
    margin-bottom: 2.5vh;
    font-weight: 700;
    font-size: 25px;
    color: #e89313;

}

.projects_modal__header.complete {
    color: #83c2c1;
}

.projects_modal__container >.container > .header {
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid lightgray;
    margin-bottom: 8px;
}

.projects_modal__container >.container table {
    width: 550px;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.projects_modal__container >.container .list {
    text-align: left;
}

.projects_modal__container >.container .list th {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 800;
}

.projects_modal__container >.container table th.switch {
    text-align: center;
}

.projects_modal__container >.container .row {
    padding: 3px 0px;
}

.projects_modal__container >.container .row.switch {
    display: flex;
    justify-content: center;
}

.projects_modal__container >.container .projects_modal__project_name.title {
    font-size: 17px;
    font-weight: 700;
    font-family: "Proza Libre";
    padding-right: 10px;
    padding-bottom: 1px;
}

.projects_modal__container .projects_modal__project_name.container {
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.projects_modal__container >.container .projects_modal__project_name input {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 12px 4px 12px 8px;
    /* padding-left: 7px; */
    height: 23px;
    font-size: 14px;
    border-radius: 5px;
}

.projects_modal__container > .button {
    margin-top: 30px;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects_modal__container > .button > button:enabled {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: #83c2c1;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #83c2c1;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.projects_modal__container > .button > button:hover:enabled {
    color: #fff;
	background-color: transparent;
	text-shadow: two;
}

.projects_modal__container > .button > button:hover:enabled::before {
	top: 0%;
	bottom: auto;
	height: 100%;
}

.projects_modal__container > .button > button:enabled::before {
    display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #83c2c1;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
